<div id='H1945' class='HistoryDescription'>
            <h2>1945 <button class='ExitDescription'>X</button></h2>
            <p>August of 1945. The late Rev. F.C. Cotton was led by the Spirit of God to organize a mission.  With the support of his wife, the late Mary Cotton, and 
            with a great determination, he set up on the corner of East 13th and Ash Street with a light post, a few chairs and started the meetings.  
            The meetings were held out in the open air.</p>
            
            <p>Reverend Cotton met the late Sister Tennessee Hall who joined in to support the mission.  When the weather turned cold, her daughter, the late Sister 
            Idell Hall agreed to host the meetings in her home located at 1302 N. Minneapolis.  Reverend Cotton asked Sister Idell Hall to contact Dr. Talley, President 
            of the Convention of Missions in Kansas to consult with the mission about organizing a church.</p>
            
            <p>Dr. Talley sent Reverend and Mrs. E.H. Smith to officially organize the church in November of 1945.  At that time, the late Brother Wesley V. Lewis, the first 
            member, was given the honor of naming the church – Saint James Missionary Baptist Church.  The members voted at that time to call Reverend F.C. Cotton as their pastor.  
            Brother Wesley Lewis was ordained as the first deacon.  That winter, St. James met in the home of Brother J.J. Jones.</p>
            
             <p>Reverend Cotton decided to establish a church building fund.  He enlisted Sister Idell Hall to start a financial drive.  The members and many citizens of Wichita 
             contributed to the building fund, including the First Baptist Church of Wichita.  When the financial goals were reached, the first edifice was erected at 1350 N. Ash.</p>
        </div>
<div id='H1962' class='HistoryDescription'>
            <h2>1962 <button class='ExitDescription'>X</button></h2>
            
            <p>
                Reverend Cotton served as Pastor until August of 1962.  
                At that time, he resigned and relocated to California to 
                continue his work in the ministry.  A “Pulpit Search Committee” 
                was formed, to begin the search for a new pastor. 
            </p>
                   In 1962, St. James Missionary Baptist Church held a business 
                   meeting.  The call to pastor the church was extended to Reverend
                   J.P. Dennis, Jr., who was serving as an Assistant Pastor at the
                   Progressive Missionary Baptist Church, under the late Reverend 
                   Given Williams. Reverend Dennis accepted the call and began his 
                   pastorate at St. James in September of 1962.
            <p>
                In the late 1960’s Pastor Dennis presented plans to renovate 
                the original building.  Shortly thereafter, hard wood floors 
                were installed, new doors were hung and new windows were added.
                A public address system was purchased, as well as a central
                heating and air conditioning unit.  Additional property was 
                also purchased for future use.  The membership grew rapidly in 
                the 1960’s and the spirit of the Lord was with us.
            </p>
            
            <p>
                Pastor Dennis had a vision of a larger edifice with space for 
                classrooms, a fellowship hall and a sanctuary to accommodate 
                the growing membership.  In 1980, the plan was presented to 
                renovate the original building and erect a new edifice.
            </p>
             
        </div>
    
    
         <div id='H1981' class='HistoryDescription'>
            <h2>1981 <button class='ExitDescription'>X</button></h2>
            
            <p> In 1981, a Bond Issue was presented by Church Security Finance of Houston in the amount of $365,000.  
            Many members contributed their time and resources to make the bond issue a success.  
            There was an outpouring of support from the community and across the nation, as well.</p>
        
        
            <p>In 1981, the building project began.  It was completed in 1982.  Upon completion, the new addition consisted of a 
            sanctuary with a seating capacity of 1,000, administrative offices, classrooms, and three parking lots with 250 spaces.  
            The original building was remodeled to become a fellowship hall.  The total cost of the project was about $700,000.</p>

             
          </div>
    
          <div id='H1982' class='HistoryDescription'>
            <h2>1982 <button class='ExitDescription'>X</button></h2>
            
            
            <p>In March of 1982, the first Worship Services were held in the 
            new sanctuary.  Special guests came from far and near for the 
            Dedication.  Guests included the Community First Baptist Church 
            of Dallas, Texas, pastored by the late Reverend C.H. Gerald.  
            The message was given by his son, the Reverend Mickey Gerald.  
            Pastor Dennis, officers, members and friends of St. James rejoiced 
            and praised God for what he had done.</p>

          </div>
    
    
         <div id='H1995' class='HistoryDescription'>
            <h2>1995 <button class='ExitDescription'>X</button></h2>
            
          <p>On November 17, 1995, the church celebrated its 50th Anniversary.  
          Special guests included the Greater New Testament Baptist Church, 
          Pastor Keith Cullors; Anchor of Hope Baptist Church, Pastor Bennie 
          Byrd; Liberty Missionary Baptist Church, Pastor Wilbert Lewis, and 
          St. Andrews Missionary Baptist Church, Pastor David Chaney.  
          The Reverend Keith Cullors delivered the message.</p>
          
          <p>On Saturday, November 18, 1995, the celebration continued with a 
          “Happy Birthday” gala presented by the Youth Department.  
          That evening, a Banquet was held in honor of the late Reverend and 
          Mrs. F.C. Cotton and the late Sister Idell Hall.  Reverend Joe Wright,
          Pastor of Central Christian Church was the keynote speaker.  
          Pastor Dennis declared that this would become an annual event during 
          the church anniversary celebration.  The Reverend Luther E. Smith and
          the Shiloh Missionary Baptist Church were our special guests for the 
          Grand Finale Worship Services at 3:00 p.m.</p>
          </div>
          
<div id='H1996' class='HistoryDescription'>
         <h2>1996 <button class='btn btn-primary ExitDescription'>X</button></h2>
         <p> On November 17, 1996, the Mortgage Burning Ceremony was held.  Pastor Dennis’ keynote address was based on Matthew 15:16-18.  “The church belongs to Christ,” stated the pastor.  “I’m not centering my subject on this building because the church is in the hearts of men.  When I say, ‘The church that Christ Built,’ I’m talking about the results of what Christ built in the hearts of the members.” </p>       
         <p>St. James praised God on the day of the mortgage burning ceremony along with the Anchor of Hope Baptist Church, Pastor Bennie Byrd, and the Reverend Wilbert Lewis and The Liberty Missionary Baptist Church.  We had completely satisfied the debt of the $365,000 mortgage bond issue from 1981.  Members and friends of St. James had donated their time and resources to cover the remaining balance of the nearly $700,000 renovation project.</p>

</div>
         
         
<div id='H1999' class='HistoryDescription'>
         <h2>1999 <button class='ExitDescription'>X</button></h2>
             <p>    On Sunday, November 15, 1999 another historical event took place.  During our morning worship service, Pastor Dennis was led by the Holy Spirit to initiate a financial drive.  The purpose of the financial drive was started as an effort to purchase additional land and to ultimately build a multipurpose center.  That morning, many members, including children and teens, stood one by one to pledge their support.  A total of $35,555.00 was pledged that day.  A building committee was formed and several lots of additional property have been acquired since the financial drive began.  In December 2010, the loan that was secured through Valley State Bank to purchase properties was Paid in Full.</p>
         </div>
         
<div id='H2001' class='HistoryDescription'>
         <h2>2001 <button class='ExitDescription'>X</button></h2>
        <p>    In October of 2001, St. James’ Radio Broadcast began.  This “Heart to Heart” Ministry to our community was aired on Hot 107.9 JAMZ weekly.  The radio broadcast continued through September 28th of 2003.  We thank God for the many lives that were touched in our community over the span of this broadcast.</p>

</div>

<div id='H2002' class='HistoryDescription'>
         <h2>2002 <button class='ExitDescription'>X</button></h2>
        <p>In August of 2002, St. James celebrated 40 years of faithful service, given to us by Dr. J.P. Dennis, Jr. and his wife, Sarah.  The members of St. James, along with family and friends of Pastor and Sister Dennis showed their appreciation during the month long celebration.  Many lives have been touched and changed during the course of their ministry.</p>
</div> 

<div id='H2005' class='HistoryDescription'>
         <h2>2005 <button class='ExitDescription'>X</button></h2>
        <p>  In November of 2005, St. James celebrated another milestone – 60 years!  Then, August of 2006, St. James surprised Pastor Dennis at our Annual Family and Friends Banquet by commemorating his 50th year of preaching the gospel, and we also celebrated Sister Dennis’ 50th year as a minister’s wife.  Surprise guests included:  Dr. Wallace Hartsfield of Kansas City, Missouri, Reverend J.A. Reed and Reverend A. Glen Woodberry, both of Oklahoma.</p>   
</div>

<div id='H2007' class='HistoryDescription'>
         <h2>2007 <button class='ExitDescription'>X</button></h2>
    <p>    In August of 2007, St. James celebrated 45 years of faithful service, given to us by Dr. J.P. Dennis, Jr. and his wife, Sarah.  As a special honor, 45 days were set aside to celebrate their “Passionate and Proven Commitment.”</p>
</div>

<div id='H2008' class='HistoryDescription'>
         <h2>2008 <button class='ExitDescription'>X</button></h2>
        <p> In February of 2008, Saint James completely satisfied the balances owed towards the 6 properties and several lots acquired since 1999, when Pastor Dennis initially shared his vision for future expansion to build the multipurpose  center.</p>
        <p>    In November of 2008, Pastor Dennis was awarded the “Legacy Award” by the Wichita NAACP for his lifetime of service to our community at large.  Pastor Dennis’ visions and plans for future expansions demonstrate his ongoing hope and concern for our church and community.</p>

</div>

<div id='H2009' class='HistoryDescription'>
         <h2>2009 <button class='ExitDescription'>X</button></h2>
         <p>  In December of 2009, Pastor Dennis became ill and underwent an emergency gall bladder surgery in January of 2010, following the surgery, he suffered serious complications due to adverse reactions to some of the medications he received - which led to many months of medical treatment, therapy and recuperation.  Church leaders, officers and members rallied together to carry on the work of the church and to faithfully continuing using our spiritual gifts, along with special support from Dr. James W. Fields, our Senior Associate Minister.  In November of 2010, Pastor Dennis marked his 55th year of preaching the gospel, and he began to experience improved health and wellness. At this time, the Lord answered all of the many prayers for his healing, and He empowered Pastor to kick off our 65th Church Anniversary Celebration with a powerful message.<p>
</div>

<div id='H2010' class='HistoryDescription'>
         <h2>2010 <button class='ExitDescription'>X</button></h2>
        <p>    November 2010 marked Pastor’s 55th year of being licensed to preach the gospel...God is great and greatly to be praised!</p>
        <p> In 2010, the City of Wichita initiated discussions and negotiations with Pastor Dennis and some of our officers about the “13th Street Project”, which was designed to improve and expand 13th Street, and in November 2010, negotiations were finalized, and the City of Wichita purchased some of our property along 13th Street, for the improvement and expansion project.  This project has since been completed, and the City of Wichita provided landscaping improvements, which border the church properties on the East 13th side, as promised.</p>  
</div>

<div id='H2012' class='HistoryDescription'>
         <h2>2012 <button class='ExitDescription'>X</button></h2>
      <p> In March of 2012, our church family mourned the passing away of our beloved First Lady Sarah Nell Dennis.  The theme for her Home Going celebration was “In Praise of Love-A More Excellent Way”.  Sister Dennis' legacy and labor of love as our “First Lady” is best described in Proverbs 31, “...she is energetic, a hard worker...generously helps those in need...a woman of strength and dignity...when she speaks her words are wise...a woman who fears and reverences God shall be greatly praised.”  We will always praise God for her many good deeds, to bring her honor and recognition from our church family in the days to come - until we see her again one day!  Pastor Dennis and the Dennis Family established the Sarah Nell Dennis Memorial Fund, to continue doing good works in her honor.</p>   
      <p>  August of 2012 marked 50 years since Pastor and Sister Dennis were sent by God to Saint James in 1962...so, for 50 days in August and September, we celebrated this “Golden Jubilee Anniversary” to honor Pastor Dennis and to cherish our precious memories of First Lady Sarah Dennis.  It was truly a great and grand celebration as our church family and many distinguished guests from near and far joined in to celebrate and commemorate this unprecedented milestone!  Pastor John A. Reed of our National Baptist Convention preached a powerful message at our grand finale worship service.  Pastor Dennis ended our celebration to a standing ovation as he sang a powerful rendition of his favorite hymn and delivered a strong testimonial message of God's greatness and His goodness!</p>
      <p> The church purchased properties in 2013 and 2014, under Pastor Dennis' leadership, to continue expanding his ongoing “Land Acquisition Project”, to meet future needs.  With Pastor Dennis as our spiritual leader, and watchman, for more than 52 years, we kept the faith that God would continue to do great things through this “good work” called the Saint James Missionary Baptist Church. </p>
</div>


<div id='H2015' class='HistoryDescription'>
         <h2>2015 <button class='ExitDescription'>X</button></h2>
      <p>On February 2, 2015, Pastor Dennis was “willing rather to be absent from his body, and present with the Lord”, and passed away peacefully, at home, surrounded by family.  Though we mourned his passing away, with a designated period of mourning, we also celebrated his great life, love and legacy, for he was truly, “A Good and Faithful Servant”.  Under the pastorate of Pastor Dennis, many people have come to Christ, and many have been laid to rest, and we will continue, through God's power, to fulfill the purpose of the church; to glorify God, edify and help others, as well as to evangelize and make disciples.</p>
      <p> On April 19, 2015, the Reverend Dr. J. W. Fields, a faithful and loyal church member for more than 55 years, and our Senior Associate Minister, was unanimously approved to serve as our Interim Pastor, to provide guidance and support to Saint James, during this interval of time, along with the faithful leadership and service, from the Boards of Deacons and Trustees.  We thank God for every member who has ever given their gifts, time, talent and resources, to make Saint James, what it is today. </p>
</div>

