<!DOCTYPE html>
<html>
    <head>
        <title>St James MBC</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script src="//code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
        <link href="https://fonts.googleapis.com/css?family=Roboto+Slab" rel="stylesheet">
        <link rel='stylesheet' type='text/css' href='/stylesheets/app.css'>
        <link rel='stylesheet' type='text/css' href='/stylesheets/AboutUs.css'>
        <link rel='stylesheet' type='text/css' href='/stylesheets/ContactUs.css'>
        <link rel='stylesheet' typ='text/css' href='/stylesheets/Media.css'>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/animate.css@3.5.2/animate.min.css">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
        <link rel="stylesheet" type="text/css" href="/stylesheets/events.css">
        <link rel="stylesheet" tpe="text/css" href="/stylesheets/leadership.css">
        <link rel="stylesheet" tpe="text/css" href="/stylesheets/GeneralInformation.css">
        <link rel="stylesheet" tpe="text/css" href="/stylesheets/Clergyinfo.css">
    </head>
    <body>

<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-nav-bar" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand">St James MBC</a>
    </div>

    <div class="collapse navbar-collapse" id="bs-nav-bar">
      <ul class="nav navbar-nav">
       	<li><a href="/">Home</a></li>
       	<li class='dropdown'>
       	  <a href='#' class='dropdown-toggle' data-toggle='dropdown' role='button' aria-haspopup='true' aria-expanded='false'>About Us <span class='caret'></span></a>
       	  <ul class='dropdown-menu'>
            <li><a href="/PastorInfo/">Leadership</a></li>
            <li><a href="/ClergyInfo/">Administration</a></li>
       	    <li><a href="/ChurchHistory/">Church History</a></li>
       	  </ul>
       	</li>
       	<li class='dropdown'>
       	  <a href='#' class='dropdown-toggle' data-toggle='dropdown' role='button' aria-haspopup='true' aria-expanded='false'>Media <span class='caret'></span></a>
       	  <ul class='dropdown-menu'>
            <li><a href="/media/">Live Stream</a></li>
       	    <li><a href="/Services/">Services</a></li>
       	  </ul>
       	</li>
       	<li><a href="/events/">Events</a></li>
       	<li><a href="/Donations/">Donations</a></li>
      </ul>
        </li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <% if(!currentUser){ %>
                <li class="nav-item">
                    <a class="nav-link" href="/login">Log In</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/register">Sign Up</a>
                </li>
            <% } else { %>
                <li>
                    <a class="nav-link" href="/users/<%= currentUser.id %>">Signed in As <%= currentUser.username %></a>
                </li>
                <li>
                    <a class="nav-link" href="/logout">Logout</a>
                </li>
            <%  } %>
        <li><a href="/ContactUs/">Contact Us <i class="fa fa-phone" aria-hidden="true"></i></a></li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

<div class="errMessage container">
    <!--You have to have the error length greater than 0 for the bar to disappear-->
    <% if(error && error.length >0){ %>
    <div class="alert alert-danger" role="alert">
        <%= error %>
    </div>
    <% } %>
    <% if(success && success.length > 0){ %>
     <div class="alert alert-success" role="alert">
        <%= success %>
    </div>
    <% } %>
</div>