<% include partials/header.ejs %>

<div class='container'>
    <h1 class="header">Church Staff</h1>
    <div class="row">
        <div class="col-lg-6">
            <table>
                <tr>
                    <th class="staff-table"><h2>Dr Broderick A Huggins</h2></th>
                    <td class="staff-table"><h3><i>Sr Pastor</i></h3></td>
                </tr>
                <tr>
                    <th class="staff-table"><h2>Margaret Griffie</h2></th>
                    <td class="staff-table"><h3><i>Administrative Assistant</i></h3></td>
                </tr>
                <tr>
                    <th class="staff-table"><h2>Cherrie Dennis-Baldon</h2></th>
                    <td class="staff-table"><h3><i>Minister of Music</i></h3></td>
                </tr>
                <tr>
                    <th class="staff-table"><h2>Carl Stovall</h2></th>
                    <td class="staff-table"><h3><i>Sunday School Superintendent</i></h3></td>
                </tr>
                <tr>
                    <th class="staff-table"><h2>Larry Dennis</h2></th>
                    <td class="staff-table"><h3><i>Deacon Board Chairman</i></h3></td>
                </tr>
                 <tr>
                    <th class="staff-table"><h2>Willie Parker</h2></th>
                    <td class="staff-table"><h3><i>Trustee Board Chairman</i></h3></td>
                </tr>
                 <tr>
                    <th class="staff-table"><h2>Lori Dennis</h2></th>
                    <td class="staff-table"><h3><i>Youth Coordinator</i></h3></td>
                </tr>
                 <tr>
                    <th class="staff-table"><h2>Lois Triplett</h2></th>
                    <td class="staff-table"><h3><i>General Mission President</i></h3></td>
                </tr>
                 <tr>
                    <th class="staff-table"><h2>Deborah Autry</h2></th>
                    <td class="staff-table"><h3><i>Usher Board President</i></h3></td>
                </tr>
                <tr>
                    <th class="staff-table"><h2>Don Curtis</h2></th>
                    <td class="staff-table"><h3><i>Finance Chairman</i></h3></td>
                </tr>
            </table>
        </div>
    </div>
</div>

<% include partials/footer.ejs %>