<% include partials/header %>


<div id='map'></div>

<div class='container'>
    <div class='row'>
        </div>
        <div class='col-lg-12'>
            <div class='PhoneAddressEmail'>
                <div>
                      <h1>Phone <i class="fas fa-phone"></i></h1>
                      <h2><i>(316) 265-6301</i></h2>
                </div>
                    
                <div>
                   <h1>Address <i class="fas fa-church"></i></i></h1> 
                   <h2><i>1350 North Ash Wichita, KS 67214</i></h2> 
                    
                </div>  
               
                <div>
                    <h1>Email <i class="fas fa-envelope"></i></h1>
                    <h2><i>StJamesMBCInc@gmail.com</i></h2>
                </div>  
           </div>        
           
        </div>
    </div>
</div>

<script src='/javascript/map.js'></script>
<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBOocLQ0AkbcUE3TjSbS50oSjaB376vPS8&callback=initMap">
</script>

<% include partials/footer %>
