<% include partials/header %>

<div class='container'>
    <div class="row">
        <div class="col-lg-6">
            <div class="jumbotron">
                 <h1>Tithes and Offering</h1>
                 <p>St James Missionary Baptist Church uses the <strong><i>givelify</i></strong> app for tithes and offerings.</p>
            </div>
        </div>
        <div class="col-lg-6">
            <blockquote class="embedly-card"><h4><a href="https://www.givelify.com/">Nonprofit Donation and Church Giving App - Givelify</a></h4><p>How to Sign Up Your Organization With Givelify Churches and Religious Organizations The Givelify mobile giving app is faster than online giving and easier than text-to-give, making it the best option during service or on the go.</p></blockquote>
            <script async src="//cdn.embedly.com/widgets/platform.js" charset="UTF-8"></script>
        </div>
    </div>
</div>


<% include partials/footer %>
