<% include ./partials/header %>

<div class="container">
    <div class='row'>
        <div class="col-lg-6">
            <div class="jumbotron">
                <h1>St. James Schedule</h1>
                <p>
                    Schedule for St. James' Service, Sunday School and Bible Study.
                </p>
            </div>
        </div>
        <div class="col-lg-6">
            <div>
              <h1><u>Sunday</u></h1>
              <p>Sunday Service: 11:00am</p>
            </div>
        </div>
    </div>
</div>


<% include ./partials/footer %>