<% include partials/header %>
    <div class='container'>
        
        <div id="landing-header">
     		<h1 id="Title">Welcome to St. James</h1>
     		<% if(currentUser){ %>
                <% } else {%>
                    <a href='/GeneralInformation' class="btn btn-lg btn-danger">Join Us</a>
                <% } %>
        </div>
        
        <ul class="slideshow">
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
        </ul>
        
    </div>

<% include partials/footer %>
