<% include partials/header.ejs %>

<div class='container'>

    <div class='row'>
        <div class='MediaTitle'>
            <h1>St James Live Stream</h1>
        </div>
        
        <div class='col-lg-12'>
            <div class='LiveStream'>
                
               <iframe width="100%" height="400" src="https://www.youtube.com/embed/live_stream?channel=UCdlGswdn56MFAD7zVcijjyQ" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
            
            </div>
        </div>
    </div>
    <div class='row LiveStreamInfo'>
            <div class='col-md-6'>
                
                   <h2>A Message for the Audience</h2>
                   <p>St James Missionary Baptist Church is dedicated to reaching out to existing and non-members of our congregation. Please enjoy a video stream of our 
                   church service and if you would like to help keep this livestream going please <strong><a href='/donations'>donate</a></strong> or leave <strong><a href='/ContactUs'>feedback</a></strong> on what we can improve. God Bless.</p>  
               
            </div>
            <div class='col-md-6'>
                    
                        <h2>Church Services</h2>
                        <p>Morning Service: 11am</p>
                        <p>Afternoon Service: 3pm</p>
                    
            </div>
    </div>
</div>
<% include partials/footer.ejs %>