<% include partials/header.ejs %>

<div class='container'>
    <div class="row">
        <h1 class="title">St. James Leadership</h1>
        <div class="col-lg-6">
            <img id="pastorH" src="/Images/Pastor_Huggins.JPG">
        </div>
        <div class="col-lg-6">
            <div class="row">
                <div class="col-lg-12">
                    <button class="Blocks collapsible"><h1>Dr. Broderick A. Huggins Sr., Pastor Bio</h1></button>
                    <div class="content">
                        <p>
                            To God be the glory for the things He has done.
                        </p>
                        <p>
                            Hello, I am Broderick Huggins, senior pastor of the St James Missionary Baptist
                            Church. I was born on June 22, 1956 in Stockton, CA, the youngest of six from
                            Frances and Percy Huggins. My only living child is Alethea Huggins-Phifer. I lost my
                            only son, Broderick II, in 2013, to police gun violence in the city of Oakland, CA. My
                            wife Toni and I will be celebrating seven years of marriage on Jan 28, 2019 and we
                            are blessed with seven beautiful grandchildren, ages 3-21.
                        </p>
                        <p>
                            I was saved at age 13...preached my first sermon at 18, where 20 gave their lives to
                            Christ. I knew then, without a doubt, what God had planned for my life. Ministry is
                            NOT a hobby, it’s a lifetime. It is my life&#39;s work.
                        </p>
                        <p>
                            My drive and commitment to succeed, my vision and love for God’s people, is my passion. 
                            What I’ve done for a lifetime, through Kingdom Living and Building is the footprint I’ll 
                            leave long after I’m gone. These things are only revealed through action and the things you do when nobody’s looking. 
                        </p>
                        <p>
                            As senior pastor of St James, I want to ensure our church is a purposeful presence in the community, in concert with city and state leaders, for the glory of God.
                        </p>
                        <p>
                           A snapshot of my credentials and accomplishments is listed below:
                        </p>
                        
                    </div>
                </div>
            </div>
         <div class="row">
            <div class="col-lg-12">
                <button class="Blocks collapsible"><h1>Education</h1></button>
                <div class="content">
                    <ul>
                            <li>Ph.D. (Philosophy of Religion)-Sacramento Theological Seminary (2007)</li>
                            <li>Bestowed Honorary Ph.D (Humane Letters)-Sacramento Theological Seminary (1990)</li>
                            <li>MA (Theology)-Mount Zion Bible Institute-Sacramento, CA (1990)</li>
                            <li>BA (Religion)-California Lutheran University-Thousand Oaks, CA (1994)</li>
                            <li>BA (Theology)-Mount Zion Bible Institute-Sacramento, CA (1988)</li>
                        </ul>
                </div>
            </div>
        </div>
         <div class="row">
            <div class="col-lg-12">
                <button class="Blocks collapsible"><h1>Certifications</h1></button>
                <div class="content">
                        <ul>
                            <li>Licensed (CA & KS) Life & Health Insurance Agent-Nationwide & TransAmerica (2018)</li>
                            <li>Proud Member-Kappa Alpha Psi Fraternity</li>
                            <li>Honorary Member-Gamma Beta Phi National Honor Society-California State University-Channel Islands, CA (2015)</li>
                        </ul>
                </div>
            </div>
        </div>
         <div class="row">
            <div class="col-lg-12">
                <button class="Blocks collapsible"><h1>Honors</h1></button>
                <div class="content">
                        <ul>
                            <li>President’s Award for Community Engagement-CSU-Channel Islands (2016)</li>
                            <li>Main/Keynote Speaker-
                                <ul>
                                    <li>NAACP-100 Year Celebration Banquet-Ventura County, CA (2011)</li>
                                </ul>
                            </li>
                            <li>MLK City Address: Stockton, 2004-2008 (Santa Barbara, CA-2013 & 2014); Sacramento, CA (2014); Bakersfield (2017)</li>
                            <li>Nat’l Tutor’s Assn.-Professional Development Conference-Tampa, FL (2018)</li>
                        </ul>
                </div>
            </div>
        </div>
         <div class="row">
            <div class="col-lg-12">
                <button class="Blocks collapsible"><h1>Denominational Leadership</h1></button>
                <div class="content">
                        <ul>
                            <li>Metropolitan District Association-Former Moderator (Progressive National Baptist Convention )</li>
                            <li>CA Missionary Baptist State Convention-Congress of Christian Education-Instructor (2002-2008)</li>
                            <li>Progressive National Baptist Convention-VP-at-Large, State of CA</li>
                        </ul>
                </div>
            </div>
        </div>
         <div class="row">
            <div class="col-lg-12">
                <button class="Blocks collapsible"><h1>Other Professional Activities</h1></button>
                <div class="content">
                        <ul>
                            <li>Ventura County Housing Authority-Chairman of the Board (2013-2018)</li>
                        </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="/javascript/leadership.js"></script>
<% include partials/footer.ejs %>