<% include partials/header.ejs %>

<div class='container'>
    <div class="row">
        <h1 class="title">St. James Leadership</h1>
        <div class="col-lg-6">
            <img id="pastorH" src="/Images/Pastor_Huggins.JPG">
        </div>
        <div class="col-lg-6">
            <div class="leadershipInfo">
                <p>
                    <span><strong>Bishop Broderick A. Huggins, Sr.</strong></span> serves as the newly elected pastor of the St. James
                    Missionary Baptist Church in Wichita, KS. He is sought-after as an anointed evangelist,
                    revivalist, and is considered an advocate for and mentor to preachers and pastors.
                </p>
                <p>
                    During his 37 years of pastoral leadership, Pastor Huggins founded the Abundant life Christian Center (Stockton, CA),
                    where he served for two years. He then answered the call to Evangelism and traveled the country and abroad for three years.
                </p>
                <p>
                    Pastor Huggins served as Senior Pastor of the New Testament Baptist Church (Wichita, KS) from 1984-1987, where he successfully
                    grew the membership along with completing the building of the present worship center and burning the mortgage.
                </p>
                <p>
                    He returned to CA in 1987 as pastor of the Del Paso Union Baptist Church (Sacramento, CA), where again, the church flourished 
                    under his leadership.
                </p>
                <p>
                    In 1990, Bishop Huggins accepted the senior pastoral assignment at the Saint Paul Baptist Church (Oxnard, CA) in 1990, where he served
                    for 27 years, until his retirement in January 2018. Under Bishop Huggins' vision and leadership, Saint Paul successfully
                    completed the building of a 22K sq. ft. Family Life Center and plans were underway to expand the property to include a 18K sq. ft. sanctuary.
                </p>
                <p>
                    Post-retirement, Bishop immediately transitioned, in full-time capacity, back to his first love: Evangelism, launching Gospel Without Borders.
                </p>
                <p>
                    An advocate of higher learning, Bishop Huggins has earned several degrees, including earned a BA in Religion from California Lutheran University;
                    and a Ph.D. in Theology from Sacramento Theological Seminary. In 1995, Dr. Huggins founded a Seminary and Bible Institute, where many students, from
                    lay persons, ministry leaders, and pastors have graduated from the programs in California and Florida.
                </p>
                <p>
                    A devoted father and grandfather, Bishop Huggins and his wife, Toni make their home in the city of Wichita, KS.
                </p>
            </div>
        </div>
    </div>
</div>

<% include partials/footer.ejs %>