/*About Us Page*/
#AboutUsTitle{
    text-align: center;
}

.TableSpace{
    padding: 20px;
    width: 100%;
    border-collapse: separate;
    border-spacing: 10px;
}

.tile{
    width: 250px;
    height: 200px;
    /*border: 2px solid black;*/
    border-radius: 15px;
    text-align: center;
    font-weight: bold;
    font-size: 2em;
    background: linear-gradient(#cb2d3e, #ef473a);
}

.LearnMore {
    transform-style: preserve-3d;
    padding: 0;
    border: none;
    background: none;
    width: 100%;
    height: 100%;
}

.tile:hover {
    border: 3px solid red;
    color: red;
    background: rgba(0,0,0,0);
}


.HistoryDescription{
    border: 3px solid #E92E2E;
    padding: 20px;
    background: #FFEBCD;
    border-radius: 15px;
}

.ExitDescription{
   float: right;
}



/*About Us - Dates*/
#H1945{
    display:none;
}

#H1962{
    display: none;
}

#H1981 {
    display: none;
}

#H1982{
    display: none;
}

#H1995{
    display: none;
}

#H1996{
    display:none;
}

#H1999{
    display:none;
}

#H2001{
    display:none;
}

#H2002{
    display:none;
}

#H2005{
    display:none;
}

#H2007{
    display:none;
}

#H2008{
    display:none;
}

#H2009{
    display:none;
}

#H2010{
    display:none;
}

#H2012{
    display:none;
}

#H2015{
    display:none;
}