
body{
    font-family: 'Roboto Slab', serif;
    background: #ADA996;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #EAEAEA, #DBDBDB, #F2F2F2, #ADA996);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #EAEAEA, #DBDBDB, #F2F2F2, #ADA996); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.container{
    margin-top: 3em;
}



/*Contact Us*/
#map{
    height:400px;
    width: 100%;
}


/*Home*/
#Title{
  font-size: 6em;
  -webkit-text-stroke-width: 2px;
   -webkit-text-stroke-color: black;
}


#landing-header {
  z-index: 1;
  position: relative;
  text-align: center;
  padding-top: 40vh;
}

#landing-header h1 {
  color: #fff;
}

.slideshow { 
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 0;
  list-style: none;
  margin: 0;
  padding: 0;
}

.slideshow li { 
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  opacity: 0;
  z-index: 0;
  animation: imageAnimation 50s linear infinite; 
}

.slideshow li:nth-child(1) { 
  background-image: url('/Images/017.JPG'); 
}
.slideshow li:nth-child(2) { 
  background-image: url('/Images/About_Us.jpg');
  animation-delay: 10s; 
}
.slideshow li:nth-child(3) { 
  background-image: url('/Images/IMG_0291.JPG');
  animation-delay: 20s; 
}
.slideshow li:nth-child(4) { 
  background-image: url('/Images/IMG_0309.JPG');
  animation-delay: 30s; 
}
.slideshow li:nth-child(5) { 
  background-image: url(/Images/samantha-sophia-34200.jpg);
  animation-delay: 40s; 
}

@keyframes imageAnimation { 
  0% { 
    opacity: 0; 
    animation-timing-function: ease-in;
  }
  10% {
    opacity: 1;
    animation-timing-function: ease-out;
  }
  20% {
    opacity: 1
  }
  30% {
    opacity: 0
  }
}

.no-cssanimations .slideshow li {
	opacity: 1;
}

/*Login/Signup/Profile*/
.loginForm{
    width: 50%;
    margin: auto;
}

.loginTitle {
    text-align:center;
    margin-left: auto;
    margin-right: auto;
}

/*User Profile*/
.profileImg {
  border: 2px solid black;
  
  /*display: block;*/
  max-width:400px;
  max-height:300px;
  width: 100%;
  height: 300px;
}

.profileText {
  padding-left: 5px;
  display: inline; 
  font-size: 20px;
}

.aboutMe {
  padding: 10px;
  background: rgba(233, 46, 46, 0.7);
  height: 300px;
}

.contactInfo {
  padding: 10px;
  background: rgba(255, 235, 205, 0.7);
  height: 300px;
}

.userName {
   padding: 10px;
  background: rgba(124, 196, 255, 0.7);
  height: 300px;
}