/*Information blocks*/
.collapsible{
  background: linear-gradient(#cb2d3e, #ef473a);
  color: white;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
}

.active, .collapsible:hover {
    background-color: #66cc91;
}

.content {
    padding: 18px;
    display: none;
    overflow: hidden;
    background-color: #FFEBCD;
}

/*Pastor Info*/
#pastorH{
  padding: 10px;
  /*Keeps aspect ratio*/
  display: block;
  max-width:600px;
  max-height:600px;
  width: auto;
  height: auto;
  margin-left: auto;
  margin-right: auto;
}

.leadershipInfo{
  padding: 10px;
  border: 3px solid #E92E2E;
  padding: 20px;
  background: #FFEBCD;
  border-radius: 15px;
}

.title {
  padding: 20px;
  font-size: 5em;
  text-align: center;
}