/*StyleSheet for the Media Page*/
.MediaTitle{
    background: #EF3B36;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right,  #EF3B36,#FFFFFF);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #EF3B36, #FFFFFF); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    box-shadow: 10px 10px 5px grey;
    color: black;
    width: 100%;
    padding: 10px;
}

.LiveStream{
   padding: 50px;
}

.LiveStreamInfo{
    padding: 10px;
    background: #EF3B36;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right,  #EF3B36,#FFFFFF);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #EF3B36, #FFFFFF); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    color: black;
    box-shadow: 10px 10px 5px grey;
}

